@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
}
a {
  color: rgb(0, 219, 0);
  &:hover {
    color: rgb(0, 203, 218);
  }
}
button {
  border: 2px solid gray;
  background: #3b3b3b;
  cursor: pointer;
  &:hover {
    background: #6b6b6b;
  }
  &:active {
    background: green;
  }
}
input {
  border: 2px solid gray;
  background: #3b3b3b;
}
